<div class="h-100 d-flex flex-column">
	<div class="d-flex align-items-center">
		<!-- title -->
		<strong class="flex-grow-1">
			<h5 class="pl-2">{{'RoomGlobalChatLanguage.GLOBAL_CHAT' | translate}}</h5>
		</strong>
		<!-- options button -->
		<div class="btn bg-transparent">
			<i-feather name="more-horizontal"></i-feather>
		</div>
	</div>

	<!-- list -->
	<div class="my-4 d-flex flex-column flex-grow-1 overflow-auto">
		<!-- item -->
		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://scontent.fvca1-2.fna.fbcdn.net/v/t31.0-8/20988886_1919480868307905_502530508688005120_o.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=mPYgJPL2XJAAX8dRgU2&_nc_ht=scontent.fvca1-2.fna&oh=34da543285b6d987e51b7a14efcb5416&oe=5F0F6D0F)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Hoàng Nguyễn:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					Quẫy lên mọi người ơi!!!!!
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/98001045_1629261507226342_4289498097530175488_o.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_ohc=AFfeENb9FgsAX_HmxXJ&_nc_ht=scontent.fvca1-1.fna&oh=2998208deebd097255cc7453b8a2b362&oe=5F10C2FE)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Giang Văn:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					Youtube của mình nè: youtube.com/channel/UCUvTIi5DGuuo27RZRRDW0aQ
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRUN8kw_top5TlsUk-opF7Zt9_aSmb5vtWjdkLjfFbmsQnMPs6U&usqp=CAU)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Gia Cát Lượng:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					web sản phẫm của mình: http://demo.hutech.tech
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://static.game24h.vn/upload/2020/2020-2/game/2020-05-09/chu-khi-buon-195.png)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Nguyễn Trãi:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					điềm đạm như Hoàng, trầm tư như Hoàng, đẹp trai như Hoàng, hãy như Hoàng :V
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://store-images.s-microsoft.com/image/apps.16411.14222023973672627.c7cc37e7-61e8-4d03-baed-911c3a52bd48.83c90bdd-8a6b-4836-a163-810c2f884e90?mode=scale&q=90&h=200&w=200&background=%23FFFFFF)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Lê Văn Việt:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					https://github.com/GiangVan
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://blznav.akamaized.net/img/games/cards/card-starcraft-2-c4f45e7ba6425848.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Quan Trung:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					Ae muốn share tin nhắn hoặc tài liệu cho nhau (trong trường hợp đang sài máy trường hoặc máy của ng khác) mà không muốn login fb, google thì sử dụng link này của mình nha:
http://hutech.tech/chat
http://hutech.tech/file
Đừng up bậy bạ hay DDos nha :((
Chúc ae ra trường đúng deadline 🎓🎓
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://blznav.akamaized.net/img/games/cards/card-warcraft-3-reforged-e4051122f0f4fa12.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Thánh Gióng:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					Trí Nguyễn Hoàng Nguyễn Tri Cao Dexter Tran Đạt Trương Bùi Phú Khuyên Ngô Thành Đạt Phong Nguyen
Ủng hộ thôi mọi ng ơi!
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Nhân Tài Đất Việt:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://static.game24h.vn/upload/2020/2020-2/game/2020-06-01/chi-huy-quan-su.png)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Người Hùng Dân Tộc:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Giang Văn:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Giang Văn:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Giang Văn:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Giang Văn:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Giang Văn:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Giang Văn:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Giang Văn:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff
				</span>
			</div>
		</div>

		<div class="d-flex align-items-start m-3">
			<!-- avatar -->
			<a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'>
				<div class="img rounded-circle"
					style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
				</div>
				<!-- <div *ngIf='lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
					<div *ngIf='!lookedAccount.avatarUrl' class="img rounded-circle"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div> -->
			</a>
			<div class="text-wrap">
				<!-- name -->
				<strong><a target="_blank" rel="noopener noreferrer" routerLink='{{lookAccountUrl}}/2'
						class="user-name pl-2 pr-1">Giang Văn:</a></strong>
				<!-- content -->
				<span class="highlight-text">
					sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff
				</span>
			</div>
		</div>


	</div>
	<div class="d-flex align-items-center m-3 border-top">
		<!-- avatar -->
		<div class="img rounded-circle"
			style="background-image: url(https://scontent.fvca1-2.fna.fbcdn.net/v/t31.0-8/20988886_1919480868307905_502530508688005120_o.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=mPYgJPL2XJAAX8dRgU2&_nc_ht=scontent.fvca1-2.fna&oh=34da543285b6d987e51b7a14efcb5416&oe=5F0F6D0F)">
		</div>
		<!-- content -->
		<input contenteditable class="flex-grow-1 m-2 p-2"
			placeholder="{{'RoomGlobalChatLanguage.TYPE_HERE' | translate}}" (keypress)='searchBoxKeyPressEvent($event)'  [(ngModel)]="searchKey">
		<!-- send button -->
		<i-feather name="send"></i-feather>
	</div>
</div>