<!-- list -->
<div class="friend-chat-body d-flex flex-column overflow-auto p-4">

	<!-- item -->
	<div [ngClass]="{'d-flex mb-2': true, 'justify-content-end': message.isMyMessage}" *ngFor='let message of messages'>
		<pre
			[ngClass]="{'text-wrap p-2 rounded-lg highlight-text': true, 'bg7': !message.isMyMessage, 'highlight-bg': message.isMyMessage}">{{message.content}}</pre>
	</div>

</div>
<!-- chat box -->
<div class="chat-box d-flex align-items-start mx-4 py-4 border-top">
	<textarea [(ngModel)]="currentMessageContent" (keypress)='chatBoxKeyPessEvent($event)'
		class="chat-content rounded border p-2 flex-grow-1"
		placeholder="{{'FriendChatLanguage.TYPE_SOMETHING_HERE' | translate}}"></textarea>
	<!-- send button -->
	<div class="btn highlight-text ml-2" (click)='handleMessagesSending()'>
		<i-feather name="send"></i-feather>
	</div>
</div>

<!-- loader location -->
<div class="loaderLocation" #loaderLocation></div>