<div class="d-flex flex-column search-container position-relative"
	[@containerSizeStyle]="rooms.length > 0 ? 'expand' : 'collapse'">
	<div class="container-head d-flex align-items-center bg7 position-absolute">
		<input class="searcher m-3 flex-grow-1" (keyup)='handleEnterToSearch($event)' [(ngModel)]="searchKey"
			placeholder="{{'SearchRoomsLanguage.TYPE_HERE' | translate}}" focusthis>
		<button class="btn btn-light mr-3 highlight-text" (click)='search()' *ngIf='searchKey'>
			<i-feather name="search"></i-feather>
			{{ 'SearchRoomsLanguage.SEARCH' | translate}}
		</button>
	</div>

	<div class="mb-5 mt-2 d-flex align-items-center">
		<p class="m-0 pr-2">{{'SearchRoomsLanguage.SEARCH_BY' | translate}}</p>
		<select [(ngModel)]="selectedGameChannelId" class="btn-border bg8">
			<option *ngFor='let game of gameChannels' [ngValue]="game.id">
				<h5>{{game.id ? game.name : ('SearchRoomsLanguage.ALL_GAMES' | translate)}}</h5>
			</option>
		</select>
	</div>

	<!-- list -->
	<div class="w-100 flex-grow-1 position-relative d-flex flex-column overflow-auto">
		<!-- item -->
		<div #loaderLocation></div>
		<div class="border-bottom p-2 mt-1 mb-2 d-flex w-100" *ngFor='let room of rooms'>
			<div class="img logo rounded" [ngStyle]="{'background-image':'url('+room.logoUrl+')'}"></div>
			<p class="flex-grow-1 mx-2 m-0 overflow-hidden"><strong class="text-nowrap">{{room.name}}</strong>
			</p>
			<div class="d-flex">
				<!-- loader -->
				<div *ngIf='room.isRequestingFromClient; else notRequesting'
					class="loader d-flex justify-content-center align-items-center">
					{{ 'SearchRoomsLanguage.REQUESTING' | translate}}</div>
				<ng-template #notRequesting>
					<p *ngIf='room.hasJoined; else notJoined' class="m-0">
						{{ 'SearchRoomsLanguage.JOINED' | translate}}</p>
					<ng-template #notJoined>
						<div *ngIf='!room.isRequesting' class="btn btn-border" (click)='joinRoom(room)'>
							{{ 'SearchRoomsLanguage.REQUEST' | translate}}</div>
						<div *ngIf='room.isRequesting' class="btn btn-border" (click)='unjoinRoom(room)'>
							{{ 'SearchRoomsLanguage.UNREQUEST' | translate}}</div>
					</ng-template>
				</ng-template>
			</div>
		</div>
	</div>

</div>